{{ define "app"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/static/hmtx.js" type="text/javascript"></script>
    <link href="/static/styles.css" rel="stylesheet">
    <title>Cappucino</title>
    
    <style>
      /* FONT INCLUDE HERE */
    </style>

</head>
<body>
  <div class="header">
    <h1>Cappuccino</h1>
  </div>
  <div class="app">
    <div class="app__editor">
      <textarea 
        hx-post="/api/render"
        placeholder="Start coding here...">
      </textarea>
    </div>
    <div class="app__preview">
      <h1>Preview</h1>
    </div>
  </div>
</body>
</html>
{{ end }} 
